<div class="row">
    <div class="col-sm">
      <div class="card flower-card">
        <div class="card-body">
          <a href="">Flower Show Programme</a>
          <hr />
          <a href="">Link to the schedule</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card coffee-card">
        <div class="card-body">
          <h2 class="card-title">Coffee Club</h2>
          <span>Coffee Club Meeting Next</span>
        </div>
      </div>
    </div>
  </div>
