<div class="card">
  <img *ngIf="hasImage" onError="this.className='broken-image';" class="card-img-top" src="{{image.url}}"
    alt="{{image.title}}">
  <div class="card-body">
    <h2 class="card-title">About Us</h2>
    <p class="card-text">The Garden Club in Willand has been running for over 70 years. We meet on the second Wednesday
      of each month from March to December, excluding June and August.</p>
    <p>In June, we have a trip out to a garden of
      interest. This June we will be visiting St Fagan’s Welsh National Folk Museum, near Cardiff.
      Each August, we hold a Flower and Vegetable Show.</p>
    <p> For the past few years, we have joined with
      Sampford Peverell
      Garden Club, alternating venues. Our shows are very much for amateurs and have classes for flowers, fruit and
      vegetables, flower arranging, cookery, crafts and photography /painting. The Show is free to enter.
      We have an annual Club meal at a local hostelry, which is always well attended.
    </p>
    <p>At our monthly meetings, we have a speaker, followed by a refreshment break, then the club business,
      where future
      events are discussed.</p>
  </div>
</div>
