@import "../../variables.scss";

:host {
  .card {
    display: flex;
    flex-direction: row;
    padding: 0;
    .card-icon {
      flex: 1;
      background: $brand-color;
      span.fas {
        margin: 1rem 0;
        color: white;
      }
    }
    .card-body {
      flex: 8;
    }
  }
}
