@import "./variables.scss";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

body {
  position: relative;
  margin: 0;
  padding-bottom: 10rem;
  min-height: 100vh;
  background-color: $background-color;
}

a {
  color: $brand-color;
  font-weight: bold;
}

.btn.btn-primary {
  background: $brand-color;
  border: darken($color: $brand-color, $amount: 15) 1px solid;

  &:hover,
  &:active {
    background: darken($color: $brand-color, $amount: 5) !important;
  }
}

.card {
  margin-bottom: 1rem;
}

.footer {
  font-size: 85%;
  text-align: center;
  background-color: #eee;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
}
