@import './variables.scss';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

  body {
    position: relative;
    margin: 0;
    padding-bottom: 10rem;
    min-height: 100%;
    background-color: $background-color;
    }

    a {
      color: darken($color: $brand-color, $amount: 10)
    }

    .card {
      margin-bottom: 1rem;
    }

    .footer {
      font-size: 85%;
      text-align: center;
      background-color: #eee;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 2rem;
    }
