<div class="row">
  <div class="col-lg-8">
    <app-about-us-card [config]=config></app-about-us-card>
    <app-upcoming-events></app-upcoming-events>
  </div>
  <div class="col-lg-4">
    <app-contacts></app-contacts>
    <div class="card">
      <h4 class="card-header">Useful Links
      </h4>
      <div class="card-body">
        <div class="row text-center">
          <a class="col-12" href="{{flowerShowLink}}">Flower Show Programme</a>
          <a class="col-12" href="{{scheduleLink}}">The schedule</a>
        </div>
      </div>
    </div>
  </div>
</div>
