<div class="row">
  <div class="col-lg-8">
    <app-about-us-card [config]=config></app-about-us-card>
    <app-upcoming-events></app-upcoming-events>
  </div>
  <div class="col-lg-4">
    <app-contacts></app-contacts>
    <div class="card">
      <h4 class="card-header">Flower Show
      </h4>
      <div class="card-body">
        <p>The Willand Flower Show will be happening this year on the <b>{{flowerShow.date}}</b>!</p>
        <a class="btn btn-primary col-12" href="{{flowerShow.link}}">Download Programme</a>
      </div>
    </div>
  </div>
</div>
